torch>=2.0.0
torchaudio>=2.0.0
ffmpeg-python
soundfile
omegaconf==2.0.6
requests
pyworld
torchcrepe
praat-parselmouth>=0.4.2
numpy<=1.23.5
git+https://github.com/liyaodev/fairseq.git
faiss-cpu==1.7.3
av
loguru
uvicorn
fastapi
pydantic
python-multipart
