torch==2.1.1
torchaudio==2.1.1
ffmpeg-python
soundfile
omegaconf==2.3.0
requests
pyworld
torchcrepe
praat-parselmouth>=0.4.2
numpy<=1.23.5
git+https://github.com/crafics/fairseq.git
faiss-cpu==1.7.3
av
loguru
uvicorn
fastapi
pydantic
python-multipart
